langchain
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
langsmith
chromadb
ragas==0.2.15
datasets
openai
python-dotenv
tiktoken
langgraph
langchain-mcp-adapters
fastapi
uvicorn[standard]
beautifulsoup4
lxml